<meta charset="utf-8">
<!-- Basic style components -->
<link rel="stylesheet" href="/node_modules/jui/dist/ui.min.css" />
<link rel="stylesheet" href="/node_modules/jui/dist/ui-jennifer.min.css" />

<!-- Grid style components -->
<link rel="stylesheet" href="/node_modules/jui-grid/dist/grid.min.css" />
<link rel="stylesheet" href="/node_modules/jui-grid/dist/grid-jennifer.min.css" />
<title>My App</title>
